*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;;
    height: 100vh;
    overflow: hidden;
}
video{
    height: 0;
    width: 0;
}

.container{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
}

.panel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 95vh;
    flex: 0.6;
    position:relative;
    border-radius: 50px;
    margin: 10px;
    transition: flex 0.8s ease-in;
}

.panel h3 {
    position: absolute;
    font-size: 3.7rem;
    color: black;
    bottom: 20px;
    left: 10px;
    opacity: 0.3;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3 {
    opacity: 1;
  }

  
@media screen and (max-width: 800px) {
    .panel:nth-child(4),
    .panel:nth-child(5) {
      display: none;
      width: 100vw;
    }
  }